*.pyc
_trial_temp/
sandbox/
.directory
venv/
build/
dist/
*.egg-info/
*.log
.~*#
debian/files
debian/pycompat
debian/*.postinst.debhelper
debian/*.prerm.debhelper
debian/*.substvars
debian/python-*/
debian/pynsca/
python-build-stamp-*
.project
.pydevproject
.settings