Source: python-nsca
Section: python
Priority: extra
Maintainer: Ludovic Gasc <gmludo@gmail.com>
Build-Depends: debhelper (>= 8), python-setuptools, python-all-dev
Standards-Version: 3.8.3
X-Python-Version: >= 2.4
Homepage: https://github.com/djmitche/pynsca

Package: python-nsca
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}
Recommends: python-mcrypt, python-crypto
Description: Nagios/Icinga protocol support for Python
 This package provides a module for to send passive host and service checks
 from Python to an NSCA daemon on a remote Nagios or Icinga host.
